<!DOCTYPE html>
<html lang="fr" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="manifest" href="manifest.json">
    <title>mu-project</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- production version, optimized for size and speed -->
    <!-- script src="https://cdn.jsdelivr.net/npm/vue"></script -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/cover.css">
</head>

<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">mu-project</h3>
<!--            <nav class="nav nav-masthead justify-content-center">-->
<!--                <a class="nav-link active" href="#">Home</a>-->
<!--                <a class="nav-link" href="#">Features</a>-->
<!--                <a class="nav-link" href="#">Contact</a>-->
<!--            </nav>-->
        </div>
    </header>

    <main role="main" class="inner cover" id="app">
        <section v-if="error">
            <h1 class="cover-heading alert alert-danger">Erreur</h1>
        </section>

        <section v-else>
            <div v-if="loading">
                <h1 class="cover-heading alert alert-info">Chargement...</h1>
            </div>

            <div v-else>
                <hr />

                <h1 class="cover-heading alert info">{{ menu.name }}</h1>
                <hr />
            </div>
        </section>

        <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary" v-on:click="propose">Changer</a>
        </p>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>&copy; maisondenous</p>
        </div>
    </footer>
</div>
</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="script/vue-engine.js"></script>
</body>
</html>
